{{ form_start(form) }}
{{ form_row(form._token) }}

<div class="professor-form" style="padding-bottom: 20px;">

    {% if form.vars.errors|length %}
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        {{ form_errors(form) }}
    </div>
    {% endif %}

    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Informações Básicas</h2>
            <small class="card-subtitle">Quem é o professor que você deseja cadastrar?</small>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group form-group--float">
                        {{ form_widget(form.nome, {'attr': {'class': 'form-control'}}) }}
                        {{ form_label(form.nome) }}
                        <i class="form-group__bar"></i>
                        <div class="help-block">{{ form_errors(form.nome) }}</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group form-group--float">
                        {{ form_widget(form.sobrenome, {'attr': {'class': 'form-control'}}) }}
                        {{ form_label(form.sobrenome) }}
                        <i class="form-group__bar"></i>
                        <div class="help-block">{{ form_errors(form.sobrenome) }}</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group form-group--float">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        {{ form_label(form.email) }}
                        <i class="form-group__bar"></i>
                        <div class="help-block">{{ form_errors(form.email) }}</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group form-group--float">
                        {{ form_widget(form.telefone, {'attr': {'class': 'form-control input-mask', 'data-mask': '(00) 00000-0000', 'maxlength': 15}}) }}
                        {{ form_label(form.telefone) }}
                        <i class="form-group__bar"></i>
                        <div class="help-block">{{ form_errors(form.telefone) }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Parentescos</h2>
            <small class="card-subtitle">Quem são os parentes deste professor?</small>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-12">
                    <label>Parentes:</label>
                    <select class="select2" multiple="" data-placeholder="Selecione..." tabindex="-1" aria-hidden="true" name="Parentesco[]">
                        {% set parentes = professor.meusParentesProfessores %}
                        {% for _professor in professores %}
                            {% if _professor.id != professor.id %}
                                {% if _professor in parentes %}
                                    <option value="{{ _professor.id }}" selected>{{ _professor.nome }} {{ _professor.sobrenome }}</option>
                                {% else %}
                                    <option value="{{ _professor.id }}">{{ _professor.nome }} {{ _professor.sobrenome }}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="card" id="app">
        <div class="card-header">
            <h2 class="card-title">Mandatos</h2>
            <small class="card-subtitle">Quando este professor foi chefe do departamento?</small>
        </div>
        <div class="card-block__nova-linha animated fadeInUp" v-for="(mandato, i) in mandatos" :key="i">
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Data de início do mandato</label>
                        <input v-model="mandato.data_inicio" v-mask="'##/##/####'" :name="'Mandato['+i+'][data_inicio]'" type="text" class="form-control" placeholder="ex: 23/05/2014" autocomplete="off" maxlength="10">
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Data de término do mandato</label>
                        <input v-model="mandato.data_fim" type="text" v-mask="'##/##/####'" :name="'Mandato['+i+'][data_fim]'" class="form-control" placeholder="ex: 23/05/2014" autocomplete="off" maxlength="10">
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <div class="col-lg-6 text-right">
                    <div class="form-group" style="margin-top: 2rem;">
                        <button type="button" class="btn btn-outline-danger waves-effect" @click="removerMandato(i)">Remover mandato</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-3">
                    <button type="button" class="btn btn-outline-primary waves-effect" @click="adicionarMandato">Adicionar mandato</button>
                </div>
            </div>
        </div>
    </div>

    {% if 'new' in app.request.attributes.get('_route') %}
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Atenção:</h4>
        <p class="mb-0">A senha de acesso deste usuário será igual ao email de cadastro. Ele poderá alterar a senha assim que realizar o login no sistema.</p>
    </div>
    {% endif %}

    <div class="form-group">
        <button class="btn btn-primary">{{ button_label|default('Salvar') }}</button>
    </div>

</div>

{{ form_end(form, {'render_rest': false}) }}

<!--VUEJS-->
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- production version, optimized for size and speed -->
<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
<!-- V-MASK -->
<script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>
<script>
    Vue.directive('mask', VueMask.VueMaskDirective);
    var app = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            mandatos: {{ professor.mandatos|serialize|raw }}
        },
    methods: {
        adicionarMandato: function () {
            let novo = {
                data_inicio: '',
                data_fim: ''
            }
            this.mandatos.push(novo)
        },
        removerMandato: function (i) {
            this.mandatos.splice(i, 1)
        }
    },
    created: function () {
        this.mandatos = this.mandatos.map((v) => {
            return Object.assign(v, {
                data_inicio: v.data_inicio.split('T')[0].split('-').reverse().join('/'),
                data_fim: v.data_fim.split('T')[0].split('-').reverse().join('/')
            })
        })
    }
    })
</script>
