{% extends 'layouts/main.html.twig' %}

{% block title %}Editar Cadastro do Professor{% endblock %}

{% block body %}

    <header class="content__title">
        <h1>Editar Cadastro do Professor</h1>
    </header>

    {{ include('professor/_form.html.twig', {'button_label': 'Salvar Modificações'}) }}

{% endblock %}
