{% extends 'layouts/main.html.twig' %}

{% block title %}Professores{% endblock %}

{% block body %}

    <div class="professor-index" style="padding-bottom: 20px;">

        <header class="content__title">
            <h1>Professores</h1>
            <small>Gerencie ou cadastre professores</small>
        </header>

        {% if not chefe_departamento %}
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Atenção:</h4>
            <p class="mb-0">
                Nenhum professor está exercendo o cargo de chefe do departamento,
                pois não há mandato cadastrado que esteja em vigor. Por favor,
                localize e edite o cadastro do professor que efetivamente é o
                chefe do departamento, fornecendo as datas de início e término
                do mandato.
            </p>
        </div>
        {% endif %}

        <div class="card card-data-table">
            <div class="card-header" style="padding-bottom: 0;">
                <h2 class="card-title"></h2>
                <small class="card-subtitle"></small>

                <div class="collapse " id="filtros" aria-expanded="false" style="padding-bottom: 28px;">
                    <form id="form-search" action="/yii/web/professor" method="get" autocomplete="off">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group form-group--float field-formsearch-nome">
                                    <input type="text" id="formsearch-nome" class="form-control" name="ProfessorSearch[nome]"><label class="form-control-label" for="formsearch-nome">Nome</label><i class="form-group__bar"></i><div class="help-block"></div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group form-group--float field-formsearch-email">
                                    <input type="text" id="formsearch-email" class="form-control" name="ProfessorSearch[email]"><label class="form-control-label" for="formsearch-email">Email</label><i class="form-group__bar"></i><div class="help-block"></div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group form-group--float field-formsearch-telefone">
                                    <input type="text" id="formsearch-telefone" class="form-control" name="ProfessorSearch[telefone]"><label class="form-control-label" for="formsearch-telefone">Telefone</label><i class="form-group__bar"></i><div class="help-block"></div>
                                </div>
                            </div>
                            <div class="col-lg-12" style="text-align: right">
                                <div class="btn-demo">
                                    <button type="submit" class="btn btn-outline-primary text-primary btn--icon-text waves-effect">Filtrar</button>				<button type="button" class="btn btn-link text-primary btn--icon-text waves-effect" style="padding-right: 0;" onclick="limparCampos(this)">Limpar filtros</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <script>
                    $(document).ready(function(){
                        $(".valor").maskMoney({prefix:'', allowNegative: false, thousands:'.', decimal:'.', affixesStay: false, allowZero: true, allowEmpty: true});
                    });

                    function limparCampos(botao){
                        $('#formsearch-nome').val('').removeClass('form-control--active');
                        $('#formsearch-email').val('').removeClass('form-control--active');
                        $('#formsearch-telefone').val('').removeClass('form-control--active');
                        $('#form-search').submit();
                    }
                </script>
                <div style="padding-right: 50px;">
                    <a class="btn btn-primary waves-effect" href="{{ path('professor_new') }}" style="margin-right: 10px; margin-bottom: 25px;">Quero cadastrar um professor</a>
                </div>
                <div class="actions">
{#                    <a class="actions__item collapsed" data-toggle="collapse" href="#filtros" aria-expanded="false" aria-controls="filtros"><i class="font-sendpayfont" style="font-size: 15px;">s</i></a>#}
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="thead-default theme-options">
                            <th class="hidden-lg-down">Nome Completo</th>
                            <th class="hidden-lg-down" style="text-align: right">Email</th>
                            <th class="hidden-lg-down" style="text-align: right">Telefone</th>
                            <th class="hidden-lg-up">Professores</th>
                            <th style="width: 134px; text-align: center;">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for professor in professors %}
                        <tr>
                            <td class="hidden-lg-down">{{ professor.nome }} {{ professor.sobrenome }} {% if chefe_departamento and professor.id == chefe_departamento.id %}<span class="badge badge-pill badge-default" style="margin-left:10px;">chefe do departamento</span>{% endif %}</td>
                            <td class="hidden-lg-down" style="text-align: right">{{ professor.email }}</td>
                            <td class="hidden-lg-down" style="text-align: right">{{ professor.telefone }}</td>
                            <td class="hidden-lg-up">{{ professor.nome }} {{ professor.sobrenome }}<br><i>{{ professor.email }}</i></td>
                            <td class="theme-options" style="width: 134px; justify-content: center; align-items: center !important; display: flex;">
                                <a href="{{ path('professor_edit', {'id': professor.id}) }}" style="display: flex"><i class="font-sendpayfont text-primary" =>e</i></a>
                                <form method="post" action="{{ path('professor_delete', {'id': professor.id}) }}" onsubmit="return confirm('Deseja realmente excluir o item?');" style="width: 24px; height: 24px;">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ professor.id) }}">
                                    <button class="btn btn-link" style="padding: 0;"><i class="font-sendpayfont text-primary">r</i></button class="btn btn-link">
                                </form>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">Nenhum professor cadastrado</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
