{% extends 'layouts/main.html.twig' %}

{% block title %}Cadastrar Professor{% endblock %}

{% block body %}

    <header class="content__title">
        <h1>Cadastrar Professor</h1>
    </header>

    {{ include('professor/_form.html.twig') }}

{% endblock %}
