<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Vendor styles -->
    <link rel="stylesheet" href="{{ asset('material-admin/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css') }}">
    <link rel="stylesheet" href="{{ asset('material-admin/vendors/bower_components/animate.css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('material-admin/vendors/bower_components/jquery.scrollbar/jquery.scrollbar.css') }}">
    <link rel="stylesheet" href="{{ asset('material-admin/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css') }}">
    <link rel="stylesheet" href="{{ asset('material-admin/vendors/bower_components/select2/dist/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('material-admin/vendors/bower_components/sweetalert2/dist/sweetalert2.min.css') }}">

    <!-- App styles -->
    <link rel="stylesheet" href="{{ asset('material-admin/css/app.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/site.css') }}">

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.js"></script>
</head>

<body data-ma-theme="light-blue">
<main class="main main--alt">
    <div class="page-loader">
        <div class="page-loader__spinner">
            <svg viewBox="25 25 50 50">
                <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>

    <header class="header">
        <div class="header__logo">
            <h1><img src="{{ asset('images/logo/logo.svg') }}" alt="Symfony!" style="width: 100px;"/></h1>
        </div>

        <ul class="top-nav">
            <li class="dropdown">
                <a href="" data-toggle="dropdown" aria-expanded="false" style="display: flex; align-items: center;"><i class="font-sendpayfont" style="font-size: 18px;">a</i><span style="margin-left: 10px;">{{ app.user.username }}</span></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="{{ path('app_logout') }}" data-method="post" class="dropdown-item">Sair</a>
                </div>
            </li>
        </ul>

        <ul class="nav top-menu">
            <li class="nav-item {% if 'afastamento' in app.request.attributes.get('_route') %} active {% endif %}"><a href="{{ path('afastamento_index') }}" class="nav-link">Afastamentos</a></li>
            <li class="nav-item {% if 'professor' in app.request.attributes.get('_route') %} active {% endif %}"><a href="{{ path('professor_index') }}" class="nav-link">Professores</a></li>
            <li class="nav-item {% if 'secretario' in app.request.attributes.get('_route') %} active {% endif %}"><a href="{{ path('secretario_index') }}" class="nav-link">Secretários</a></li>
        </ul>
    </header>

    <section class="content content--full">
        <div class="content__inner">
            {% block body %}{% endblock %}
        </div>
    </section>
</main>

<!-- Javascript -->
<!-- ../vendors -->
<script src="{{ asset('material-admin/vendors/bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('material-admin/vendors/bower_components/tether/dist/js/tether.min.js') }}"></script>
<script src="{{ asset('material-admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('material-admin/vendors/bower_components/Waves/dist/waves.min.js') }}"></script>
<script src="{{ asset('material-admin/vendors/bower_components/jquery.scrollbar/jquery.scrollbar.min.js') }}"></script>
<script src="{{ asset('material-admin/vendors/bower_components/jquery-scrollLock/jquery-scrollLock.min.js') }}"></script>
<script src="{{ asset('material-admin/vendors/bower_components/sweetalert2/dist/sweetalert2.min.js') }}"></script>

<script src="{{ asset('material-admin/vendors/bower_components/jquery-mask-plugin/dist/jquery.mask.min.js') }}"></script>
<script src="{{ asset('material-admin/vendors/bower_components/select2/dist/js/select2.full.min.js') }}"></script>
<script src="{{ asset('material-admin/vendors/bower_components/flot/jquery.flot.js') }}"></script>
<script src="{{ asset('material-admin/vendors/bower_components/flot/jquery.flot.resize.js') }}"></script>
<script src="{{ asset('material-admin/vendors/bower_components/flot.curvedlines/curvedLines.js') }}"></script>
<script src="{{ asset('material-admin/vendors/bower_components/jqvmap/dist/jquery.vmap.min.js') }}"></script>
<script src="{{ asset('material-admin/vendors/bower_components/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
<script src="{{ asset('material-admin/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js') }}"></script>
<script src="{{ asset('material-admin/vendors/bower_components/salvattore/dist/salvattore.min.js') }}"></script>
<script src="{{ asset('material-admin/vendors/jquery.sparkline/jquery.sparkline.min.js') }}"></script>
<script src="{{ asset('material-admin/vendors/bower_components/moment/min/moment.min.js') }}"></script>
<script src="{{ asset('material-admin/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js') }}"></script>

<!-- Charts and maps-->
<script src="{{ asset('material-admin/demo/js/flot-charts/curved-line.js') }}"></script>
<script src="{{ asset('material-admin/demo/js/flot-charts/line.js') }}"></script>
<script src="{{ asset('material-admin/demo/js/flot-charts/chart-tooltips.js') }}"></script>
<script src="{{ asset('material-admin/demo/js/other-charts.js') }}"></script>
<script src="{{ asset('material-admin/demo/js/jqvmap.js') }}"></script>

<!-- App functions and actions -->
<script src="{{ asset('material-admin/js/app.min.js') }}"></script>

<script>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            {% if label == 'success' %}
                swal({
                    title: 'Feito!',
                    text: '{{ message|replace({"\n": "", "\r": "", "\t": ""}) }}',
                    type: 'success',
                    buttonsStyling: false,
                    confirmButtonClass: 'btn btn-primary'
                })
            {% endif %}
            {% if label == 'danger' %}
                swal({
                    title: 'Más notícias...',
                    text: '{{ message|replace({"\n": "", "\r": "", "\t": ""}) }}',
                    type: 'error',
                    buttonsStyling: false,
                    confirmButtonClass: 'btn btn-primary'
                })
            {% endif %}
        {% endfor %}
    {% endfor %}
</script>
</body>
</html>
