<form name="afastamento" action="{{ path('afastamento_new') }}" method="post" enctype="multipart/form-data">
{{ form_row(form._token) }}

<div class="afastamento-form"  style="padding-bottom: 20px;">

    {% if form.vars.errors|length %}
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        {{ form_errors(form) }}
    </div>
    {% endif %}

    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Informações Básicas</h2>
            <small class="card-subtitle">Qual é o período do afastamento e qual o motivo?</small>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group form-group--float">
                        {{ form_widget(form.data_inicio_afastamento, {'attr': {'class': 'form-control form-control--active'}}) }}
                        {{ form_label(form.data_inicio_afastamento) }}
                        <i class="form-group__bar"></i>
                        <div class="help-block">{{ form_errors(form.data_inicio_afastamento) }}</div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group form-group--float">
                        {{ form_widget(form.data_fim_afastamento, {'attr': {'class': 'form-control form-control--active'}}) }}
                        {{ form_label(form.data_fim_afastamento) }}
                        <i class="form-group__bar"></i>
                        <div class="help-block">{{ form_errors(form.data_fim_afastamento) }}</div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group form-group--float">
                        {{ form_widget(form.tipo, {'attr': {'class': 'form-control'}}) }}
                        {{ form_label(form.tipo) }}
                        <i class="form-group__bar"></i>
                        <div class="help-block">{{ form_errors(form.tipo) }}</div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group form-group--float">
                        {{ form_widget(form.onus, {'attr': {'class': 'form-control'}}) }}
                        {{ form_label(form.onus) }}
                        <i class="form-group__bar"></i>
                        <div class="help-block">{{ form_errors(form.onus) }}</div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group form-group--float">
                        {{ form_widget(form.motivo, {'attr': {'class': 'form-control'}}) }}
                        {{ form_label(form.motivo) }}
                        <i class="form-group__bar"></i>
                        <div class="help-block">{{ form_errors(form.motivo) }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Sobre o Evento</h2>
            <small class="card-subtitle">Que evento é este e quando vai ocorrer?</small>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group form-group--float">
                        {{ form_widget(form.nome_evento, {'attr': {'class': 'form-control'}}) }}
                        {{ form_label(form.nome_evento) }}
                        <i class="form-group__bar"></i>
                        <div class="help-block">{{ form_errors(form.nome_evento) }}</div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group form-group--float">
                        {{ form_widget(form.data_inicio_evento, {'attr': {'class': 'form-control form-control--active'}}) }}
                        {{ form_label(form.data_inicio_evento) }}
                        <i class="form-group__bar"></i>
                        <div class="help-block">{{ form_errors(form.data_inicio_evento) }}</div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group form-group--float">
                        {{ form_widget(form.data_fim_evento, {'attr': {'class': 'form-control form-control--active'}}) }}
                        {{ form_label(form.data_fim_evento) }}
                        <i class="form-group__bar"></i>
                        <div class="help-block">{{ form_errors(form.data_fim_evento) }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" id="app">
        <div class="card-header">
            <h2 class="card-title">Documentos</h2>
            <small class="card-subtitle">Quais documentos justificam a solicitação de afastamento?</small>
        </div>
        <div class="card-block__nova-linha animated fadeInUp" v-for="(documento, i) in documentos" :key="i">
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Título</label>
                        <input v-model="documento.titulo" :name="'Documento['+i+'][titulo]'" type="text" class="form-control" placeholder="ex: Passagens aéreas, Banner do evento..." autocomplete="off" maxlength="100">
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Arquivo</label>
                        <input type="file" :name="'Documento['+i+'][nome_arquivo]'" class="form-control" autocomplete="off">
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <div class="col-lg-6 text-right">
                    <div class="form-group" style="margin-top: 2rem;">
                        <button type="button" class="btn btn-outline-danger waves-effect" @click="removerDocumento(i)">Remover documento</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-3">
                    <button type="button" class="btn btn-outline-primary waves-effect" @click="adicionarDocumento">Adicionar documento</button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary">{{ button_label|default('Salvar') }}</button>
    </div>

</div>

</form>

<!--VUEJS-->
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- production version, optimized for size and speed -->
<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
<!-- V-MASK -->
<script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>
<script>
    Vue.directive('mask', VueMask.VueMaskDirective);
    var app = new Vue({
        el: '#app',
        data: {
            documentos: {{ afastamento.documentos|serialize|raw }}
    },
    methods: {
        adicionarDocumento: function () {
            let novo = {
                titulo: '',
                nome_arquivo: ''
            }
            this.documentos.push(novo)
        },
        removerDocumento: function (i) {
            this.documentos.splice(i, 1)
        }
    }
    })
</script>

