{% extends 'layouts/main.html.twig' %}

{% block title %}Afastamentos{% endblock %}

{% block body %}

    <div class="afastamento-index" style="padding-bottom: 20px;">

        <header class="content__title">
            <h1>Afastamentos</h1>
            <small>Acompanhe todos os afastamentos solicitados por professores</small>
        </header>

        <div class="card card-data-table">
            <div class="card-header" style="padding-bottom: 0;">
                <h2 class="card-title"></h2>
                <small class="card-subtitle"></small>

                <div class="collapse " id="filtros" aria-expanded="false" style="padding-bottom: 28px;">
                    <form action="" method="get" autocomplete="off">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Data da Solicitação</label>
                                    <input type="text" name="AfastamentoSearch[data_solicitacao]" class="form-control input-mask" data-mask="00/00/0000" autocomplete="off" maxlength="10">
                                    <i class="form-group__bar"></i>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group form-group--float">
                                    <select class="form-control" name="AfastamentoSearch[professor_solicitante_id]" aria-invalid="false">
                                        <option value=""></option>
                                        {% for professor in professores %}
                                            <option value="{{ professor.id }}">{{ professor.nome }} {{ professor.sobrenome }}</option>
                                        {% endfor %}
                                    </select>
                                    <label class="form-control-label">Professor Solicitante</label>
                                    <i class="form-group__bar"></i>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group form-group--float">
                                    <select class="form-control" name="AfastamentoSearch[tipo]" aria-invalid="false">
                                        <option value=""></option>
                                        <option value="nacional">Nacional</option>
                                        <option value="internacional">Internacional</option>
                                    </select>
                                    <label class="form-control-label">Tipo</label>
                                    <i class="form-group__bar"></i>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group form-group--float">
                                    <select class="form-control" name="AfastamentoSearch[situacao]" aria-invalid="false">
                                        <option value=""></option>
                                        <option value="iniciado">Iniciado</option>
                                        <option value="aguardando_parecer_relator">Aguardando parecer relator</option>
                                        <option value="liberado">Liberado</option>
                                        <option value="aguardando_decisao_di">Aguardando decisão DI</option>
                                        <option value="aprovado_di">Aprovado DI</option>
                                        <option value="aprovado_ct">Aprovado CT</option>
                                        <option value="aprovado_prppg">Aprovado PRPPG</option>
                                        <option value="arquivado">Arquivado</option>
                                        <option value="cancelado">Cancelado</option>
                                        <option value="reprovado">Reprovado</option>
                                    </select>
                                    <label class="form-control-label">Situação</label>
                                    <i class="form-group__bar"></i>
                                </div>
                            </div>
                            <div class="col-lg-12" style="text-align: right">
                                <div class="btn-demo">
                                    <button type="submit" class="btn btn-outline-primary text-primary btn--icon-text waves-effect">Filtrar</button>				<button type="button" class="btn btn-link text-primary btn--icon-text waves-effect" style="padding-right: 0;" onclick="limparCampos(this)">Limpar filtros</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <script>
                    function limparCampos(botao){
                        $('#formsearch-nome').val('').removeClass('form-control--active');
                        $('#formsearch-email').val('').removeClass('form-control--active');
                        $('#formsearch-telefone').val('').removeClass('form-control--active');
                        $('#form-search').submit();
                    }
                </script>
                <div style="padding-right: 50px;">
                    <a class="btn btn-primary waves-effect" href="{{ path('afastamento_new') }}" style="margin-right: 10px; margin-bottom: 25px;">Quero solicitar meu afastamento</a>
                </div>
                <div class="actions">
                    <a class="actions__item collapsed" data-toggle="collapse" href="#filtros" aria-expanded="false" aria-controls="filtros"><i class="font-sendpayfont" style="font-size: 15px;">s</i></a>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="thead-default theme-options">
                            <th class="hidden-lg-down">Data da Solicitação</th>
                            <th class="hidden-lg-down">Professor Solicitante</th>
                            <th class="hidden-lg-down">Tipo</th>
                            <th class="hidden-lg-down">Situação</th>
                            <th class="hidden-lg-up">Afastamentos</th>
                            <th style="width: 134px; text-align: center;">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for afastamento in afastamentos %}
                        <tr>
                            <td class="hidden-lg-down">{{ afastamento.dataSolicitacao|date("d/m/Y") }}</td>
                            <td class="hidden-lg-down">{{ afastamento.professorSolicitante.nome }} {{ afastamento.professorSolicitante.sobrenome }}</td>
                            <td class="hidden-lg-down">{% if afastamento.tipo == 'internacional' %} <img src="{{ asset('images/mundo.svg') }}" alt="" style="width:30px;"> {% else %} <img src="{{ asset('images/brasil.svg') }}" alt="" style="width:30px;"> {% endif %}</td>
                            <td class="hidden-lg-down">
                                {% if afastamento.situacao == 'iniciado' %}
                                    <span class="badge badge-pill badge-primary">Iniciado</span>
                                {% elseif afastamento.situacao == 'aguardando_parecer_relator' %}
                                    <span class="badge badge-pill badge-warning">Aguardando parecer relator</span>
                                {% elseif afastamento.situacao == 'liberado' %}
                                    <span class="badge badge-pill badge-info">Liberado</span>
                                {% elseif afastamento.situacao == 'aguardando_decisao_di' %}
                                    <span class="badge badge-pill badge-warning">Aguardando decisão DI</span>
                                {% elseif afastamento.situacao == 'aprovado_di' %}
                                    <span class="badge badge-pill badge-success">Aprovado DI</span>
                                {% elseif afastamento.situacao == 'aprovado_ct' %}
                                    <span class="badge badge-pill badge-success">Aprovado CT</span>
                                {% elseif afastamento.situacao == 'aprovado_prppg' %}
                                    <span class="badge badge-pill badge-success">Aprovado PRPPG</span>
                                {% elseif afastamento.situacao == 'arquivado' %}
                                    <span class="badge badge-pill badge-default">Arquivado</span>
                                {% elseif afastamento.situacao == 'cancelado' %}
                                    <span class="badge badge-pill badge-default">Cancelado</span>
                                {% elseif afastamento.situacao == 'reprovado' %}
                                    <span class="badge badge-pill badge-danger">Reprovado</span>
                                {% else %}
                                    {{ afastamento.situacao }}
                                {% endif %}
                            </td>
                            <td class="hidden-lg-up">{{ afastamento.professorSolicitante.nome }}</td>
                            <td class="theme-options" style="width: 134px; justify-content: center; align-items: center !important; display: flex;">
                                <a href="{{ path('afastamento_show', {'id': afastamento.id}) }}" style="display: flex"><i class="font-sendpayfont text-primary">y</i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">Nenhum afastamento cadastrado</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
