{% extends 'layouts/main.html.twig' %}

{% block title %}Solicitar meu afastamento{% endblock %}

{% block body %}

    <header class="content__title">
        <h1>Solicitar meu afastamento</h1>
    </header>

    {{ include('afastamento/_form.html.twig') }}

{% endblock %}
