{% extends 'layouts/main.html.twig' %}

{% block title %}Acompanhar afastamento{% endblock %}

{% block body %}

    <div class="afastamento-view" style="padding-bottom: 20px;">

        <header class="content__title">
            <h1>Acompanhar afastamento</h1>
        </header>

        <!-- OPÇÕES -->
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Opções</h2>
                <small class="card-subtitle">O que você deseja fazer com este afastamento?</small>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- SOLICITANTE -->
                        <button class="btn btn-primary" id="button-cancelar" {% if afastamento.situacao in ['cancelado', 'arquivado', 'reprovado'] %}disabled{% endif %}>Cancelar</button>

                        <!-- CHEFE DO DEPARTAMENTO -->
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-encaminhar-afastamento" {% if afastamento.situacao not in ['iniciado'] %}disabled{% endif %}>Encaminhar</button>

                        <!-- RELATOR -->
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-parecer-relator" {% if afastamento.situacao not in ['aguardando_parecer_relator'] %}disabled{% endif %}>Registrar Parecer Relator</button>

                        <!-- PROFESSORES -->
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-manifestar-se-contra" {% if afastamento.situacao not in ['liberado'] %}disabled{% endif %}>Manifestar-se Contra</button>

                        <!-- SECRETÁRIOS -->
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-decisao-di" {% if afastamento.situacao not in ['aguardando_decisao_di'] %}disabled{% endif %}>Registrar decisão DI</button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-decisao-ct" {% if afastamento.situacao not in ['aprovado_di'] or afastamento.tipo is same as('nacional')  %}disabled{% endif %}>Registrar decisão CT</button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-decisao-prppg" {% if afastamento.situacao not in ['aprovado_ct'] or afastamento.tipo is same as('nacional')  %}disabled{% endif %}>Registrar decisão PRPPG</button>
                        <button class="btn btn-primary" id="button-arquivar" {% if afastamento.situacao not in ['aprovado_prppg', 'reprovado', 'aprovado_di', 'cancelado'] or (afastamento.situacao is same as('aprovado_di') and afastamento.tipo is same as('internacional'))  %}disabled{% endif %}>Arquivar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Informações Básicas</h2>
                <small class="card-subtitle">Qual é o período do afastamento e qual o motivo?</small>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            {% if afastamento.situacao == 'iniciado' %}
                                <span class="badge badge-pill badge-primary">Iniciado</span>
                            {% elseif afastamento.situacao == 'aguardando_parecer_relator' %}
                                <span class="badge badge-pill badge-warning">Aguardando parecer relator</span>
                            {% elseif afastamento.situacao == 'liberado' %}
                                <span class="badge badge-pill badge-info">Liberado</span>
                            {% elseif afastamento.situacao == 'aguardando_decisao_di' %}
                                <span class="badge badge-pill badge-warning">Aguardando decisão DI</span>
                            {% elseif afastamento.situacao == 'aprovado_di' %}
                                <span class="badge badge-pill badge-success">Aprovado DI</span>
                            {% elseif afastamento.situacao == 'aprovado_ct' %}
                                <span class="badge badge-pill badge-success">Aprovado CT</span>
                            {% elseif afastamento.situacao == 'aprovado_prppg' %}
                                <span class="badge badge-pill badge-success">Aprovado PRPPG</span>
                            {% elseif afastamento.situacao == 'arquivado' %}
                                <span class="badge badge-pill badge-default">Arquivado</span>
                            {% elseif afastamento.situacao == 'cancelado' %}
                                <span class="badge badge-pill badge-default">Cancelado</span>
                            {% elseif afastamento.situacao == 'reprovado' %}
                                <span class="badge badge-pill badge-danger">Reprovado</span>
                            {% else %}
                                {{ afastamento.situacao }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control form-control--active" value="{{ afastamento.dataInicioAfastamento|date("d/m/Y") }}">
                            <label class="form-control-label">Data de Início do Afastamento</label>
                            <i class="form-group__bar"></i>
                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control form-control--active" value="{{ afastamento.dataFimAfastamento|date("d/m/Y") }}">
                            <label class="form-control-label">Data de Fim do Afastamento</label>
                            <i class="form-group__bar"></i>
                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control form-control--active" value="{{ afastamento.tipo }}">
                            <label class="form-control-label">Tipo</label>
                            <i class="form-group__bar"></i>
                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control form-control--active" value="{{ afastamento.onus }}">
                            <label class="form-control-label">Ônus</label>
                            <i class="form-group__bar"></i>
                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control" value="{{ afastamento.motivo }}">
                            <label class="form-control-label">Motivo</label>
                            <i class="form-group__bar"></i>
                            <div class="help-block"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Sobre o Evento</h2>
                <small class="card-subtitle">Que evento é este e quando vai ocorrer?</small>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control" value="{{ afastamento.nomeEvento }}">
                            <label class="form-control-label">Nome do Evento</label>
                            <i class="form-group__bar"></i>
                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control" value="{{ afastamento.dataInicioEvento|date("d/m/Y") }}">
                            <label class="form-control-label">Data de Início do Evento</label>
                            <i class="form-group__bar"></i>
                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control" value="{{ afastamento.dataFimEvento|date("d/m/Y") }}">
                            <label class="form-control-label">Data de Fim do Evento</label>
                            <i class="form-group__bar"></i>
                            <div class="help-block"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Professor Solicitante</h2>
                <small class="card-subtitle">Quem solicitou o afastamento?</small>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control" value="{{ afastamento.professorSolicitante.nome }}">
                            <label class="form-control-label">Nome</label>
                            <i class="form-group__bar"></i>
                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control" value="{{ afastamento.professorSolicitante.sobrenome }}">
                            <label class="form-control-label">Sobrenome</label>
                            <i class="form-group__bar"></i>
                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control" value="{{ afastamento.professorSolicitante.email }}">
                            <label class="form-control-label">Email</label>
                            <i class="form-group__bar"></i>
                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control" value="{{ afastamento.professorSolicitante.telefone }}">
                            <label class="form-control-label">Telefone</label>
                            <i class="form-group__bar"></i>
                            <div class="help-block"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if not afastamento.professorRelator is empty %}
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Professor Relator</h2>
                <small class="card-subtitle">Quem é o relator do afastamento?</small>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control" value="{{ afastamento.professorRelator.nome }}">
                            <label class="form-control-label">Nome</label>
                            <i class="form-group__bar"></i>
                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control" value="{{ afastamento.professorRelator.sobrenome }}">
                            <label class="form-control-label">Sobrenome</label>
                            <i class="form-group__bar"></i>
                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control" value="{{ afastamento.professorRelator.email }}">
                            <label class="form-control-label">Email</label>
                            <i class="form-group__bar"></i>
                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group form-group--float">
                            <input type="text" class="form-control" value="{{ afastamento.professorRelator.telefone }}">
                            <label class="form-control-label">Telefone</label>
                            <i class="form-group__bar"></i>
                            <div class="help-block"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if not afastamento.documentos is empty %}
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Documentos</h2>
                <small class="card-subtitle">Quais documentos justificam a solicitação de afastamento?</small>
            </div>
            <div class="card-block">
                <div class="row">
                    {% for documento in afastamento.documentos %}
                    <div class="col-lg-12">
                        {{ documento.dataJuntada|date("d/m/Y") }}
                        <b style="margin-left: 10px;">
                            {{ documento.titulo }}
                        </b>
                        <a class="btn btn-link waves-effect" href="https://www.viniciush4.com/documentos/{{ documento.nomeArquivo }}" target="_blank">Abrir em nova aba</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        {% if not afastamento.pareceres is empty %}
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Pareceres</h2>
                <small class="card-subtitle">Quais são os pareceres até o momento?</small>
            </div>
            <div class="card-block">
                <div class="row">
                    {% for parecer in afastamento.pareceres %}
                    <div class="col-lg-12">
                        {% if parecer.getTipoParecer() == 'desfavoravel' %}<i class="zmdi zmdi-close-circle zmdi-hc-fw" style="color: red; font-size: large;"></i>{% else %}<i class="zmdi zmdi-check-circle zmdi-hc-fw" style="color: green; font-size: large;"></i>{% endif%}
                        {{ parecer.dataParecer|date("d/m/Y") }}
                        <b style="margin-left: 10px;">
                            {% if not parecer.professor is empty %} {{ parecer.professor.nome }} {{ parecer.professor.sobrenome }} {% else %} {{ parecer.tipoEmissor }} {% endif %}
                            {% if parecer.professor is same as(afastamento.professorRelator) %} (Relator) {% endif %}
                        </b>
                        <i style="margin-left: 10px;">
                            {{ parecer.motivo }}
                        </i>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- REGISTRAR DECISÃO DI -->
    <div class="modal fade" id="modal-decisao-di" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ path('afastamento_registrar_decisao_di', {id: afastamento.id}) }}" method="post" enctype="multipart/form-data" onsubmit="exibirLoading()">
                    <div class="modal-header">
                        <h5 class="modal-title pull-left">Registrar decisão do DI</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group form-group--float">
                            <select class="form-control" name="decisao" aria-invalid="false">
                                <option value="favoravel">Favorável</option>
                                <option value="desfavoravel">Desfavorável</option>
                            </select>
                            <label class="form-control-label">Decisão</label>
                            <i class="form-group__bar"></i>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <b>Anexar Documento:</b>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Título</label>
                                    <input name="Documento[0][titulo]" type="text" class="form-control" placeholder="ex: ATA da reunião..." autocomplete="off" maxlength="100">
                                    <i class="form-group__bar"></i>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Arquivo</label>
                                    <input type="file" name="Documento[0][nome_arquivo]" class="form-control" autocomplete="off">
                                    <i class="form-group__bar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary waves-effect">Salvar decisão</button>
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- REGISTRAR DECISÃO CT -->
    <div class="modal fade" id="modal-decisao-ct" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ path('afastamento_registrar_decisao_ct', {id: afastamento.id}) }}" method="post" enctype="multipart/form-data" onsubmit="exibirLoading()">
                    <div class="modal-header">
                        <h5 class="modal-title pull-left">Registrar decisão do CT</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group form-group--float">
                            <select class="form-control" name="decisao" aria-invalid="false">
                                <option value="favoravel">Favorável</option>
                                <option value="desfavoravel">Desfavorável</option>
                            </select>
                            <label class="form-control-label">Decisão</label>
                            <i class="form-group__bar"></i>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <b>Anexar Documento:</b>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Título</label>
                                    <input name="Documento[0][titulo]" type="text" class="form-control" placeholder="ex: ATA da reunião..." autocomplete="off" maxlength="100">
                                    <i class="form-group__bar"></i>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Arquivo</label>
                                    <input type="file" name="Documento[0][nome_arquivo]" class="form-control" autocomplete="off">
                                    <i class="form-group__bar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary waves-effect">Salvar decisão</button>
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- REGISTRAR DECISÃO PRPPG -->
    <div class="modal fade" id="modal-decisao-prppg" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ path('afastamento_registrar_decisao_prppg', {id: afastamento.id}) }}" method="post" enctype="multipart/form-data" onsubmit="exibirLoading()">
                    <div class="modal-header">
                        <h5 class="modal-title pull-left">Registrar decisão da PRPPG</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group form-group--float">
                            <select class="form-control" name="decisao" aria-invalid="false">
                                <option value="favoravel">Favorável</option>
                                <option value="desfavoravel">Desfavorável</option>
                            </select>
                            <label class="form-control-label">Decisão</label>
                            <i class="form-group__bar"></i>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <b>Anexar Documento:</b>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Título</label>
                                    <input name="Documento[0][titulo]" type="text" class="form-control" placeholder="ex: ATA da reunião..." autocomplete="off" maxlength="100">
                                    <i class="form-group__bar"></i>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Arquivo</label>
                                    <input type="file" name="Documento[0][nome_arquivo]" class="form-control" autocomplete="off">
                                    <i class="form-group__bar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary waves-effect">Salvar decisão</button>
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- REGISTRAR PARECER RELATOR -->
    <div class="modal fade" id="modal-parecer-relator" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ path('afastamento_registrar_parecer_relator', {id: afastamento.id}) }}" method="post" onsubmit="exibirLoading()">
                    <div class="modal-header">
                        <h5 class="modal-title pull-left">Registrar parecer do Relator</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group form-group--float">
                            <select class="form-control" name="Parecer[tipo_parecer]" aria-invalid="false">
                                <option value="favoravel">Favorável</option>
                                <option value="desfavoravel">Desfavorável</option>
                            </select>
                            <label class="form-control-label">Parecer</label>
                            <i class="form-group__bar"></i>
                        </div>
                        <div class="form-group">
                            <textarea name="Parecer[motivo]" class="form-control" rows="5" placeholder="Digite o motivo deste parecer..."></textarea>
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary waves-effect">Salvar parecer</button>
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- MANIFESTAR-SE CONTRA -->
    <div class="modal fade" id="modal-manifestar-se-contra" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ path('afastamento_manifestar_se_contra', {id: afastamento.id}) }}" method="post" onsubmit="exibirLoading()">
                    <div class="modal-header">
                        <h5 class="modal-title pull-left">Manifestar-se contra este afastamento</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <textarea name="Parecer[motivo]" class="form-control" rows="5" placeholder="Digite o motivo deste parecer..."></textarea>
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary waves-effect">Salvar parecer</button>
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- ENCAMINHAR AFASTAMENTO -->
    <div class="modal fade" id="modal-encaminhar-afastamento" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ path('afastamento_encaminhar_afastamento', {id: afastamento.id}) }}" method="post" onsubmit="exibirLoading()">
                    <div class="modal-header">
                        <h5 class="modal-title pull-left">Encaminhar afastamento</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group form-group--float">
                            <select class="form-control" name="Afastamento[professor_relator_id]" aria-invalid="false">
                                {% set parentes = afastamento.professorSolicitante.meusParentesProfessores %}
                                {% for professor in professores %}
                                    {% if professor.id != afastamento.professorSolicitante.id %}
                                        {% if professor in parentes %}
                                            <option value="{{ professor.id }}" disabled>{{ professor.nome }} {{ professor.sobrenome }} (é parente do solicitante)</option>
                                        {% else %}
                                            <option value="{{ professor.id }}">{{ professor.nome }} {{ professor.sobrenome }}</option>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label class="form-control-label">Relator</label>
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary waves-effect">Salvar relator</button>
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function() {

            $('.afastamento-view .form-control').prop('disabled', true);

            $('.afastamento-view .form-control').css('opacity', 1);

            $('.afastamento-view .form-control').css('border-bottom', 0);

            $('.afastamento-view .form-control').css('cursor', 'default');

            // CANCELAR AFASTAMENTO
            $('#button-cancelar').click(function(){
                exibirConfirmacao().then(function(){
                    exibirLoading()
                    window.location.href = "{{ path('afastamento_cancelar', {id: afastamento.id}) }}"
                });
            });

            // ARQUIVAR AFASTAMENTO
            $('#button-arquivar').click(function(){
                exibirConfirmacao().then(function(){
                    exibirLoading()
                    window.location.href = "{{ path('afastamento_arquivar', {id: afastamento.id}) }}"
                });
            });
        });

        function exibirConfirmacao(){
            return swal({
                title: 'Tem certeza que deseja fazer isso?',
                text: 'Você não poderá desfazer essa ação depois',
                type: 'warning',
                showCancelButton: true,
                buttonsStyling: false,
                confirmButtonClass: 'btn btn-danger',
                confirmButtonText: 'Sim, eu tenho certeza!',
                cancelButtonClass: 'btn btn-secondary',
                cancelButtonText: 'Cancelar',
            })
        }

        function exibirLoading(){
            return swal({
                html: "" +
                    "<div class='page-loader__spinner' style='left: 50%; transform: translate(-50%, 0);'>" +
                    "<svg viewBox='25 25 50 50'>" +
                    "<circle cx='50' cy='50' r='20' fill='none' stroke-width='2' stroke-miterlimit='10' />" +
                    "</svg>" +
                    "</div>",
                title: "Aguarde um instante...",
                showConfirmButton: false,
                allowOutsideClick: false
            })
        }
    </script>


{% endblock %}
