{#{% extends 'base.html.twig' %}#}

{#{% block title %}Log in!{% endblock %}#}

{#{% block body %}#}
{#<form method="post">#}
{#    {% if error %}#}
{#        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#    {% endif %}#}

{#    {% if app.user %}#}
{#        <div class="mb-3">#}
{#            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#        </div>#}
{#    {% endif %}#}

{#    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
{#    <label for="inputId">Email</label>#}
{#    <input type="text" value="{{ last_username }}" name="login" id="inputId" class="form-control" required autofocus>#}
{#    <label for="inputPassword">Senha</label>#}
{#    <input type="password" name="senha" id="inputPassword" class="form-control" required>#}

{#    <input type="hidden" name="_csrf_token"#}
{#           value="{{ csrf_token('authenticate') }}"#}
{#    >#}

{#    #}{##}
{#        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
{#        See https://symfony.com/doc/current/security/remember_me.html#}

{#        <div class="checkbox mb-3">#}
{#            <label>#}
{#                <input type="checkbox" name="_remember_me"> Remember me#}
{#            </label>#}
{#        </div>#}
{#    #}

{#    <button class="btn btn-lg btn-primary" type="submit">#}
{#        Sign in#}
{#    </button>#}
{#</form>#}
{#{% endblock %}#}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Vendor styles -->
    <link rel="stylesheet" href="../public/material-admin/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="../public/material-admin/vendors/bower_components/animate.css/animate.min.css">

    <!-- App styles -->
    <link rel="stylesheet" href="../public/material-admin/css/app.min.css">
    <link rel="stylesheet" href="../public/css/site.css">
</head>

<body data-ma-theme="light-blue">
<div class="login">

    <!-- Login -->
    <div class="login__block active" id="l-login">
        <div class="login__block__header">
            <h1><img src="{{ asset('images/logo/logo.svg') }}" style="width: 100px;"></h1>
        </div>

        <div class="login__block__body">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
            <form method="post">
                <div class="form-group form-group--float field-loginform-username required">
                    <input type="text" id="loginform-username" class="form-control" name="login" value="{{ last_username }}" autofocus="">
                    <label class="form-control-label" for="loginform-username">Email</label>
                    <i class="form-group__bar"></i>
                    <div class="help-block"></div>
                </div>

                <div class="form-group form-group--float field-loginform-password required">
                    <input type="password" id="loginform-password" class="form-control" name="senha">
                    <label class="form-control-label" for="loginform-password">Senha</label>
                    <i class="form-group__bar"></i>
                    <div class="help-block"></div>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <div style="text-align: right; margin-top: 60px;">
                    <button type="submit" class="btn btn-primary waves-effect">Entrar</button>
                </div>
            </form>
        </div>
    </div>



</div>

<!-- Javascript -->
<!-- Vendors -->
<script src="../public/material-admin/vendors/bower_components/jquery/dist/jquery.min.js"></script>
<script src="../public/material-admin/vendors/bower_components/tether/dist/js/tether.min.js"></script>
<script src="../public/material-admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../public/material-admin/vendors/bower_components/Waves/dist/waves.min.js"></script>

<!-- App functions and actions -->
<script src="../public/material-admin/js/app.min.js"></script>
</body>
</html>

