@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../../vendor/bower/bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('../../vendor/bower/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../vendor/bower/bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../../vendor/bower/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../vendor/bower/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../vendor/bower/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
    font-family: 'Sendpayfont';
    src: url('../fonts/sendpayfont.woff') format('woff');
}

.font-sendpayfont{
    font-family: 'Sendpayfont';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;

    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}


html,
body {
    height: 100%;
}


.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;

}

.wrap > .container {
    padding: 70px 15px 20px;
}

.container {
    width: 100%;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    padding-left: 226px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ /*"\e151"*/ "\e094";
}

a.desc:after {
    content: /*"\e114"*/ /*"\e152"*/ "\e093";
}

.sort-numerical a.asc:after {
    content: /*"\e153"*/ "\e094";
}

.sort-numerical a.desc:after {
    content: /*"\e154"*/ "\e093";
}

.sort-ordinal a.asc:after {
    content: /*"\e155"*/ "\e094";
}

.sort-ordinal a.desc:after {
    content: /*"\e156"*/ "\e093";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* NAVBAR */
.navbar-inverse {

}
@media (min-width: 768px) and (max-width: 991px) {
	.container {
		width: 840px;
	}
	.navbar-inverse .nav > li > a {
		padding: 10px 12px;
	}
}

.grid-view{
    overflow-x:auto;
}

.navbar, .navbar-inverse {
    /* background: #154675;*/
    background: #337ab7;
    border-color: #337ab7;
}

.navbar-inverse .navbar-nav > li > a {
    color: #f0f0f0;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #135a97;
}

.card-bloco-informacoes {
    margin: 20px 0 40px 30px;
}

.help-block {
    position:absolute;
    color: #ff5652;
}

.breadcrumb-item.active {
    cursor: default;
}


.login_block{
    max-width: 500px;
    width: 100%;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding:  50px;
}

.login_block_body{
    padding: 10px 0;
}

.login_block_header{
    padding: 10px 0;
}

.button_login{
    font-size: 20px;
    background-color: black;
    border-radius: 28px;
    text-transform: none;
    vertical-align: middle;
    cursor: pointer;
    line-height: 1.718em;
    text-decoration: none;
    position: relative;
    border: 0;
    font-weight: 500;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    letter-spacing: normal;
    word-spacing: normal;
    color: white;
    width: 100%;

}

.login_block_header{

}


/* enquanto estiver carregando, o scroll da página estará desativado */
body.loading {
    overflow: hidden;
}

/* a partir do momento em que o body estiver com a classe loading,  o modal aparecerá */
body.loading .modal {
    display: block;
}


[data-ma-theme="light-blue"] .header,
[data-ma-theme="light-blue"] .login__block__header,
[data-ma-theme="light-blue"] .login__block__btn {
    background-color: #5ecdd9;
}
[data-ma-theme="light-blue"] .navigation__sub--active > a,
[data-ma-theme="light-blue"] .navigation__active > a,
[data-ma-theme="light-blue"] .navigation__active:before {
    color: #5ecdd9;
}
[data-ma-theme="light-blue"] .top-menu > li.active {
    box-shadow: inset 0 -2px 0 #5ecdd9;
}

.btn.btn-primary {
    background-color: #5ecdd9 !important;
}

.btn.btn-outline-primary {
    color: #5ecdd9 !important;
    border-color: #5ecdd9 !important;
}

.btn.btn-outline-primary:hover {
    background-color: #5ecdd9 !important;
    color: white !important;
}

.theme-options .material-icons {
    color: #5ecdd9;
}

.theme-options th a {
    color: #959595;
}

.theme-options th {
    color: #959595;
}

.image-banner-index {
    border-radius: 2px;
    margin: 0px;
    height: 120px;
}

.form-group__bar:after, .form-group__bar:before {
    background-color: #5ecdd9 !important;
}

.toggle-switch__checkbox:checked~.toggle-switch__helper:after {
    background-color: #5ecdd9 !important;
}

.text-primary {
    color: #5ecdd9 !important;
}

.table-active, .table-active>td, .table-active>th, .table-hover tbody tr:hover, .table-striped tbody tr:nth-of-type(odd) {
    background-color: #fbfbfb;
}

.table td, .table th {
    padding: 1rem 2.1rem;
    text-align: left;
    vertical-align: middle;
}

.user__info_tabela {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-header .actions, .card>.actions {
    right: 28px;
    top: 28px;
}

.card-data-table {
    padding-bottom: 2rem;
}

.card-data-table .card-header {
    background-color: #fbfbfb;
}

a.text-primary:focus, a.text-primary:hover {
    color: #5ecdd9!important;
}

.navigation>li>a>img{
    vertical-align: top;
    font-size: 1.3rem;
    position: relative;
    top: .1rem;
    width: 1.5rem;
    text-align: center;
    margin-right: .6rem;
}

.paginate_button.current {
    background-color: #5ecdd9;
    color: #FFF;
}

.bg-primary {
    background-color: #5ecdd9!important;
}

.bg-verde {
    background-color: #32c787!important;
}

.payment-option {
    display: inline-block;
    width: 36px;
    margin: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login {
    min-height: 90vh;
}

.captcha {
    filter: grayscale(1) opacity(0.4);
}


/* SELECT2 - ESPECÍFICO PARA O SELECT DE USUÁRIO */

.select2-container--default .selection:after, .select2-container--default .selection:before {
    background-color: #5ecdd9;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 1.25;
    padding: 0.9rem 0.1rem;
    color: #fff;
}

.search--toggled .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 1.25;
    padding: 0.9rem 0.1rem;
    color: #464a4c;
}

.search--toggled .select2-container--default .select2-selection--single {
    background-color: #f3f3f3 !important;
}

.select2-container--default .select2-selection--single {
    background-color: #ffffff33 !important;
}

.select2-container--default .select2-selection--single:before {
    border: 0;
}

.search--focus:not(.search--toggled) .search__helper {
    color: #fff;
    transform: rotate(180deg);
    line-height: 2.9rem;
    margin-top: -2px;
}

.custom-checkbox .custom-control-indicator:before {
    background-color: #5ecdd9;
}

.custom-control-input:checked~.custom-control-indicator {
    border-color: #5ecdd9;
}

.custom-checkbox.danger .custom-control-indicator:before {
    background-color: #E97B4F;
}

.custom-control-input:checked~.custom-control-indicator.danger {
    border-color: #E97B4F;
}



[data-toggle=buttons]:not(.btn-group--colors)>.btn.active {
    background-color: #5ecdd9!important;
}

.alert {
    margin-bottom: 30px!important;
}

.alert-warning {
    background-color: #ECD362!important;
    border-color: #ECD362!important;
    color: #000000a6;
}

.alert-danger {
    background-color: #E97B4F!important;
    border-color: #E97B4F!important;
}

.alert-info {
    background-color: #5ecdd9!important;
    border-color: #5ecdd9!important;
}

.alert-success {
    background-color: #32c787!important;
    border-color: #32c787!important;
}

.display-none {
    display: none;
}


.top-nav>li>a:not(.header__nav__text) {
    min-width: 38px;
}

.login__block {
    max-width: 360px;
}

.card-block__nova-linha {
    flex: 1 1 auto;
    padding-top: 2.1rem;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
    border-bottom: 2px dashed #cbcbcb;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: transparent;
    cursor: not-allowed;
}

.alert ul {
    margin: 0;
}
