{{ form_start(form) }}
{{ form_row(form._token) }}

<div class="secretario-form" style="padding-bottom: 20px;">

    {% if form.vars.errors|length %}
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        {{ form_errors(form) }}
    </div>
    {% endif %}

    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Informações Básicas</h2>
            <small class="card-subtitle">Quem é o secretário que você deseja cadastrar?</small>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group form-group--float">
                        {{ form_widget(form.nome, {'attr': {'class': 'form-control'}}) }}
                        {{ form_label(form.nome) }}
                        <i class="form-group__bar"></i>
                        <div class="help-block">{{ form_errors(form.nome) }}</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group form-group--float">
                        {{ form_widget(form.sobrenome, {'attr': {'class': 'form-control'}}) }}
                        {{ form_label(form.sobrenome) }}
                        <i class="form-group__bar"></i>
                        <div class="help-block">{{ form_errors(form.sobrenome) }}</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group form-group--float">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        {{ form_label(form.email) }}
                        <i class="form-group__bar"></i>
                        <div class="help-block">{{ form_errors(form.email) }}</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group form-group--float">
                        {{ form_widget(form.telefone, {'attr': {'class': 'form-control input-mask', 'data-mask': '(00) 00000-0000', 'maxlength': 15}}) }}
                        {{ form_label(form.telefone) }}
                        <i class="form-group__bar"></i>
                        <div class="help-block">{{ form_errors(form.telefone) }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Atenção:</h4>
        <p class="mb-0">A senha de acesso deste usuário será igual ao email de cadastro. Ele poderá alterar a senha assim que realizar o login no sistema.</p>
    </div>

    <div class="form-group">
        <button class="btn btn-primary">{{ button_label|default('Salvar') }}</button>
    </div>

</div>

{{ form_end(form, {'render_rest': false}) }}

{#<script>#}
{#    $(document).ready(function() {#}

{#        $('select').prop('disabled', true);#}

{#        $('button').remove();#}

{#        $('.form-control').prop('disabled', true);#}

{#        $('.form-control').css('opacity', 1);#}

{#        $('.form-control').css('border-bottom', 0);#}

{#        $('.form-control').css('cursor', 'default');#}

{#    });#}
{#</script>#}
