{% extends 'layouts/main.html.twig' %}

{% block title %}Editar Cadastro do Secretário{% endblock %}

{% block body %}

    <header class="content__title">
        <h1>Editar Cadastro do Secretário</h1>
    </header>

    {{ include('secretario/_form.html.twig', {'button_label': 'Salvar Modificações'}) }}

{% endblock %}
