{% extends 'layouts/main.html.twig' %}

{% block title %}Cadastrar Secretário{% endblock %}

{% block body %}

    <header class="content__title">
        <h1>Cadastrar Secretário</h1>
    </header>

    {{ include('secretario/_form.html.twig') }}

{% endblock %}
